body{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 14px;
    font-family: Noto Sans TC, 微軟正黑體, 新細明體, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: rgb(245,245,245);
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
}
header, main{
    margin: 1rem 0.25rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.buildingList{
    width: 100%;
}

.building{
    list-style-type: none;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    
    margin: 0.25rem 0;
    padding: 0.25rem;

    display: grid;
    gap: 0.5rem 1rem;

    grid-template-columns: 1fr max-content;
    position: relative;
}

.name{
    font-weight: bold;
}

.periodDate, .deadlineDate, .announceDate{
    font-size: 0.75rem;
}

.announceDate{
    grid-column: 2 / -1;
    grid-row: 1 / 1;
}

.periodDate, .deadlineDate{
    grid-column: 1 / -1;
}